In [1]:
# import dependencies
import pandas as pd

In [2]:
# read game data
game_df=pd.read_csv("csvfiles/game.csv")

In [3]:
# create and populate 'added' categories 
add_cat=["yet","owned","beaten","toplay","dropped","playing"]
for i in game_df.index:
    curr_added=game_df.loc[i,"added"].split("'")
    for j in add_cat:
        if j in curr_added:
            ind=curr_added.index(j)
            game_df.loc[i,j]=curr_added[ind+1]

In [4]:
# remove nan and view dataframe
game_df=game_df.fillna(0)
game_df.head()

,Unnamed: 0,name,number of platforms,platforms,number of stores,stores,number of genres,genres,tags,release date,...,rating count,metacritic score,added,month,yet,owned,beaten,toplay,dropped,playing
0,0,The Witcher 3: Wild Hunt,4,"['PC', 'PlayStation', 'Xbox', 'Nintendo']",4,"['Steam', 'PlayStation Store', 'Xbox Store', '...",3,"['Adventure', 'Action', 'RPG']","['Full controller support', 'Action RPG', 'Atm...",2015-05-18,...,3461,93,"{'yet': 558, 'owned': 6109, 'beaten': 2395, 't...",5,": 558,",": 6109,",": 2395,",": 455,",": 421,",: 588}
1,1,Life is Strange,9,"['PC', 'PlayStation', 'Xbox', 'iOS', 'Android'...",7,"['Steam', 'PlayStation Store', 'Xbox Store', '...",1,['Adventure'],"['Full controller support', 'Atmospheric', 'Ch...",2015-01-29,...,2211,83,"{'yet': 462, 'owned': 6136, 'beaten': 1903, 't...",1,": 462,",": 6136,",": 1903,",": 184,",": 339,",: 123}
2,2,Red Dead Redemption 2,3,"['PC', 'PlayStation', 'Xbox']",4,"['Steam', 'PlayStation Store', 'Xbox Store', '...",3,"['Adventure', 'Action', 'RPG']","['In-App Purchases', 'America', 'Partial Contr...",2018-10-26,...,2533,96,"{'yet': 398, 'owned': 4197, 'beaten': 1253, 't...",10,": 398,",": 4197,",": 1253,",": 1140,",": 217,",: 584}
3,3,DOOM (2016),4,"['PC', 'PlayStation', 'Xbox', 'Nintendo']",4,"['Steam', 'PlayStation Store', 'Xbox Store', '...",2,"['Shooter', 'Action']","['Partial Controller Support', 'Steam Achievem...",2016-05-13,...,2171,85,"{'yet': 314, 'owned': 4828, 'beaten': 1518, 't...",5,": 314,",": 4828,",": 1518,",": 319,",": 368,",: 221}
4,4,Fallout 4,3,"['PC', 'PlayStation', 'Xbox']",3,"['Steam', 'PlayStation Store', 'Xbox Store']",2,"['Action', 'RPG']","['Full controller support', 'Action RPG', 'Ste...",2015-11-09,...,1984,84,"{'yet': 292, 'owned': 4821, 'beaten': 1229, 't...",11,": 292,",": 4821,",": 1229,",": 225,",": 727,",: 224}

In [5]:
# clean up added groups
for i in game_df.index:
    for j in add_cat:
        try:
            k=game_df.loc[i,j].split(": ")[1]
            try:
                k=int(k.split(",")[0])
            except:
                k=int(k.split("}")[0])
            game_df.loc[i,j]=k
        except:
            continue

game_df.head()

,Unnamed: 0,name,number of platforms,platforms,number of stores,stores,number of genres,genres,tags,release date,...,rating count,metacritic score,added,month,yet,owned,beaten,toplay,dropped,playing
0,0,The Witcher 3: Wild Hunt,4,"['PC', 'PlayStation', 'Xbox', 'Nintendo']",4,"['Steam', 'PlayStation Store', 'Xbox Store', '...",3,"['Adventure', 'Action', 'RPG']","['Full controller support', 'Action RPG', 'Atm...",2015-05-18,...,3461,93,"{'yet': 558, 'owned': 6109, 'beaten': 2395, 't...",5,558,6109,2395,455,421,588
1,1,Life is Strange,9,"['PC', 'PlayStation', 'Xbox', 'iOS', 'Android'...",7,"['Steam', 'PlayStation Store', 'Xbox Store', '...",1,['Adventure'],"['Full controller support', 'Atmospheric', 'Ch...",2015-01-29,...,2211,83,"{'yet': 462, 'owned': 6136, 'beaten': 1903, 't...",1,462,6136,1903,184,339,123
2,2,Red Dead Redemption 2,3,"['PC', 'PlayStation', 'Xbox']",4,"['Steam', 'PlayStation Store', 'Xbox Store', '...",3,"['Adventure', 'Action', 'RPG']","['In-App Purchases', 'America', 'Partial Contr...",2018-10-26,...,2533,96,"{'yet': 398, 'owned': 4197, 'beaten': 1253, 't...",10,398,4197,1253,1140,217,584
3,3,DOOM (2016),4,"['PC', 'PlayStation', 'Xbox', 'Nintendo']",4,"['Steam', 'PlayStation Store', 'Xbox Store', '...",2,"['Shooter', 'Action']","['Partial Controller Support', 'Steam Achievem...",2016-05-13,...,2171,85,"{'yet': 314, 'owned': 4828, 'beaten': 1518, 't...",5,314,4828,1518,319,368,221
4,4,Fallout 4,3,"['PC', 'PlayStation', 'Xbox']",3,"['Steam', 'PlayStation Store', 'Xbox Store']",2,"['Action', 'RPG']","['Full controller support', 'Action RPG', 'Ste...",2015-11-09,...,1984,84,"{'yet': 292, 'owned': 4821, 'beaten': 1229, 't...",11,292,4821,1229,225,727,224

In [6]:
# save dataframe
game_df.to_csv("csvfiles/game_addedgroup.csv",index=False)